* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Gives header padding , font family, back-ground color and color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*gives h1 element 48px font size and inline-block so it can sit next to other elements*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*define color for h1 in header class and seo class*/
.header h1 .seo {
    color: #d9dcd6;
}

/*gives padding and margin to navigation bar*/
/*set it to float on the right side of the screen*/
/*giving font family and font size*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*set inline block so the list items can sit next to each other*/
/*giving margin and removing markers from list items*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/*Background color set*/
body {
    background-color: #d9dcd6;
}

/*set the color*/
/*no text decoration declared*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*paragraph font size set to 16px*/
p {
    font-size: 16px;
}

/*setting size, position, and margin to main background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*lets the elements to float to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*lets the elements to float to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*there were three repeating classes with different names, turn them to one class*/
/*set width and margin for the content container*/
/*set the container as a inline block*/
.content-container {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*there were three repeating classes with different names, turn them to one class*/
/*adding marging and padding to the container containing benefits*/
/*set width and height to the container*/
/*set the container float to the right*/
.benefits-container {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*set all elements with benefits class bottom margin of 32px and white color*/
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/*set all h3 headings with benefits class bottom margin of 10px and align them to the center*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*set all images with benefits class margin of 10px on top and auto for bottom */
/*set display block so next element starts on the next line*/
/*set the image element in benefits class to maximum 150px*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*set bottom margin to 20px and padding of 50px all elements with contents class*/
/*set height, font family, background color and color to all elements with contents class*/
.contents {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*set the maximum height of img elements in .contents class to 200px*/
.contents img {
    max-height: 200px;
}

/*set 20px margin-bottom and 36px font-size for all h2 elements with .contents class*/
.contents h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both; /*footer is pushed below both left and right floated elements*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
